.intro {
	display: flex;
	justify-content: space-between;
	min-height: 640px;
	background-color: #161c34;
	background-image: url(./img/traveller-illustration.png),
		url(./img/globe-back.jpg);
	background-position: 60% 0, center -109px;
	background-repeat: no-repeat, no-repeat;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 50px;
	position: relative;
	z-index: 10;
}

.intro__title {
	font-size: 60px;
	font-weight: 700;
	text-align: left;
	color: #fff;
	margin: 60px 0 250px 70px;
	width: 400px;
	line-height: 1;
}

.intro__blockquote {
	width: 265px;
	margin-top: 60px;
	margin-right: 20px;
	padding: 0;
	padding-bottom: 230px;
}

.review__author-name,
.review__text {
	font-size: 21px;
	line-height: 1.19;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.38;
	letter-spacing: normal;
	text-align: left;
	color: #fff;
	font-weight: 700;
}

.review__text {
	line-height: 1.18;
	margin-bottom: 44px;
	font-size: 28px;
	font-weight: 500;
}
