.header {
	background: #161c34;
	display: flex;
	min-height: 90px;
	align-items: center;
	padding-top: 50px;
	padding-bottom: 27px;
	margin: 0 auto;
}

.header__logo {
	display: flex;
	align-items: center;
	margin-right: 45px;
	flex-shrink: 0;

	&::after {
		content: '';
		display: block;
		width: 60px;
		height: 2px;
		border-radius: 1px;
		background-color: #fff;
		margin-left: 40px;
	}
}

.header__logo-image {
	width: 200px;
	height: 52px;
}

.main-nav {
	display: flex;
	align-items: center;
	width: 100%;
	flex-shrink: 1;

	&--open {
		display: flex;
		align-items: center;
	}
}

.user-list {
	display: flex;
}

.user-list__button {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ff8d30;
	background-size: 18px;
	border-radius: 50%;
	font-size: 0;
	line-height: 0;

	&--email {
		background-color: #ffbd30;
		background-size: 18px 14px;
	}
}

.user-list__login {
	width: 188px;
	height: 50px;
	font-size: 20px;
}

.site-list {
	display: flex;
	list-style: none;
	padding: 0;
	margin-right: auto;
}

.site-list__item {
	margin-right: 30px;
}

.site-list__link {
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.2;
	letter-spacing: normal;
	text-align: center;
	text-transform: uppercase;
}
